    <div class="search-container">
        <form (ngSubmit)="onSearch()" class="search-bar">
            <input
                type="text"
                [placeholder]="searchByIdOrEmail ? 'Enter ID or Email' : placeHolder"
                [(ngModel)]="searchText"
                name="searchText"
            />
            <button type="submit">Search</button>
            <label class="id-email-radio" [title]="'Search by ID or Email'">
                <input
                    type="checkbox"
                    [(ngModel)]="searchByIdOrEmail"
                    name="searchByIdOrEmail"
                />
                Search by ID/Email
            </label>
        </form>
    </div>
    @if(isPopupVisible){
        <div class="popup" >
            <div class="popup-content">
                <h2>Error</h2>
                <p>{{ popupMessage }}</p>
                <button (click)="closePopup()">OK</button>
            </div>
        </div>
    }
    
    
    